/* *{
    border: 1px solid blue;
} */

/* NAVBAR */

#hamburgermenu label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 25px;
  position: absolute;
  right: 30px;
  top: 60px;
  z-index: 999;
}

#hamburgermenu label div {
  background-color: white;
  height: 3.5px;
  width: 100%;
}

#hamburgermenu input:checked ~ label div:first-child {
  margin-left: 4px;
  transform: rotate(45deg);
  transform-origin: top left;
  transition: all 0.3s ease-in-out;
}

#hamburgermenu input:checked ~ label div:nth-child(2) {
  width: 0;
  transform-origin: center;
}

#hamburgermenu input:checked ~ label div:last-child {
  margin-left: 4px;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  transition: all 0.3s ease-in-out;
}

.phonenavbar {
  display: none;
}

#hamburgermenu input:checked ~ .phonenavbar {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(44, 93, 74);
  z-index: 99;
}

#hamburgermenu input:checked ~ label {
  position: fixed;
}

#hamburgermenu input:checked ~ .phonenavbar ul {
  display: block;
  margin: 80px 0 0 40px;
}

#hamburgermenu input:checked ~ .phonenavbar ul li:nth-child(6) {
  margin-left: 0;
  display: inline-block;
}

#hamburgermenu input:checked ~ .phonenavbar ul li:last-child {
  display: inline-block;
}

/* MENU */

#menu_bg {
  flex-direction: column;
}

#menu_bg #menu_image {
  width: 500px;
  height: 550px;
}

#menu_bg #menu_items {
  height: auto;
  max-height: 564px;
  width: 500px;
  margin-top: 15px;
  margin-left: 0;
}

#menu_bg #menu_items > div:nth-child(2) {
  height: auto;
  max-height: 473px;
}

#menu_bg #menu_items > div:nth-child(2) > div span:first-child {
  width: 250px;
}

/* CHIEF COOK */

#Chiefcook #Chiefcook_quote,
#Chiefcook #Chiefcook_bio {
  width: 40vw;
}

/* CUSTOMER REVIEWS */

#customer_reviews #review_box > div {
  width: 90vw;
}

#customer_reviews #review_box > div #review {
  width: 670px;
}

@media only screen and (max-width: 900px) {
  #customer_reviews #review_box > div #review {
    width: 75%;
  }

  #booking > div {
    grid-template-columns: 1fr;
    height: auto;
  }

  #booking > div #booking_img {
    height: 80vw;
  }

  #booking > div #booking_form {
    height: auto;
  }

  #menu_list #menu_dishes {
    width: 100%;
    overflow-x: scroll;
  }

  #menu_list #menu_dishes > div {
    min-width: 33.33%;
  }

  #menu_list #menu_dishes > div .dishes_border {
    width: 75%;
  }

  #menu_list #menu_dishes > div:hover .dishes_border {
    width: 75%;
  }

  #customer_reviews #review_box > div {
    flex-direction: column;
    justify-content: center;
  }

  #customer_reviews #review_box > div #review{
    width: 90%;
  }

  #customer_reviews #dot_wrap{
    display: flex;
    margin-top: 20px;
  }

  @media only screen and (max-width: 800px) {
    #Chiefcook {
      flex-direction: column;
      align-items: center;
    }

    #Chiefcook #Chiefcook_quote,
    #Chiefcook #Chiefcook_bio {
      width: 85vw;
    }

    #Chiefcook #Chiefcook_bio {
      margin-top: 30px;
    }

    @media only screen and (max-width: 700px) {
      #hamburgermenu label {
        top: 30px;
      }

      #home .homeheading {
        width: 90vw;
      }

      .navbarlogo a {
        width: 150px;
      }

      #home {
        height: auto;
      }

      #home > div {
        margin-top: 50px;
      }

      @media only screen and (max-width: 600px) {
        html {
          font-size: 12px;
        }

        #menu_bg #menu_items {
          width: 90%;
          height: auto;
        }

        #menu_bg #menu_image {
          width: 90%;
          height: 90vw;
        }

        #menu_bg #menu_image img {
          object-position: 100% 80%;
        }

        #booking > div #booking_form > div {
          text-align: center;
        }

        #menu_list > div h2 {
          text-align: center;
        }

        #menu_bg #menu_items {
          padding: 10px 15px;
        }

        #menu_bg #menu_items > div:nth-child(2) > div {
          padding: 6px;
        }

        #menu_bg #menu_items > div:nth-child(2) > div span:first-child {
          margin-right: 5px;
        }

        @media only screen and (max-width: 450px){
            #booking > div{
                width: 100%;
            }

            #booking > div #booking_form{
                padding: 20px 15px;
            }
        }
      }
    }
  }
}
